<!DOCTYPE html>
<html lang="en">

  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <div id="bg">
  
  
  <div id="edit-section" class="edit-section">
      <form class="center-form" action="/user/<%= travelplan.id %>?_method=PUT" method="POST" class="new-travelplan-form has-text-centered" id="new-travelplan-form">
    

        <div class="field">
          <label class="label">Enter your Destination</label>
          <input class="input" name="location" type="text" placeholder="e.g. Bora Bora" name="location" required value="<%= travelplan.location %>" />
        </div>
        <div class="field">
          <label class="label">Day</label>
          <input class="input" name="tripDate" type="text" placeholder="Planned Activity" value="<%= travelplan.tripDate %>"required />
        </div>


      <div class="field">
        <label class="label">Subheading/Category</label>
        <input class="input" name="subHeading" type="text" placeholder="e.g. Museum, Entertainment, etc." value="<%= travelplan.subHeading %>" />
      </div>

      <div class="field">
        <label class="label">Notes</label>
        <textarea class="input textarea" name="notes" type="text" placeholder=""><%= travelplan.notes %></textarea>
      </div>

      <div class="field">
        <label class="label">Location</label>
        <input class="input" name="address" type="text" placeholder="Address Location" value="<%= travelplan.address %>">
      </div>

      <input class="button is-link" type="submit" name="" value="Update Itenarary" />

    </form>
    <!-- DELETE FORM GOES HERE -->
    <form action="/user/<%= travelplan._id %>?_method=DELETE" class="delete-form" method="POST">
      <input id="edit-delete-button" class="button is-link delete-button" type="submit" value="Delete">
    </form>
  </div>
  </body>
</html>