<!DOCTYPE html>
<html lang="en">

  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <div id="bg">
     
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
      <section class="hero is-small has-text-centered">
      <div class="hero-body has-text-black">
        <p class="title has-text-dark-danger is-warning">Itenarary for <%= travelplan.location %> </p>
      </div>
    </section>
    <br><br>
    
  <div id="edit-section" class="edit-section">
    <div id="location-input">
      <form action="/user/<%= travelplan.id %>?_method=PUT" method="POST" class="new-travelplan-form has-text-centered" id="new-travelplan-form">
    </div>
    
      Location: <input type="text" name="location" placeholder="location" value="<%= travelplan.location %>" required/><br><br>

      Day: <input type="text" name="tripDate" placeholder="Planned Activity" value="<%= travelplan.tripDate %>"required />
      <br><br>

      Subheading: <input type="description" name="subHeading" placeholder="Subheading/Category" value="<%= travelplan.subHeading %>"/><br><br>

      Notes: <input type="text" name="notes" placeholder="Notes" value="<%= travelplan.notes %>" /><br><br>

      Address: <input type="text" name="address" placeholder="Address Location" value="<%= travelplan.address %>"
      />
      <br><br>

      <input type="submit" name="" value="Update Itenarary" />
    </form>
  </div>
  <br><br>

    <!-- DELETE FORM GOES HERE -->
    <form action="/user/<%= travelplan._id %>?_method=DELETE" class="delete-form" method="POST">
      <input class="button is-link delete-button" type="submit" value="Delete">
    </form>
   </div>
    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("../partials/footer") %>
    </div>
  </body>
</html>