<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <section class="hero is-primary has-text-centered">
      <div class="hero-body">
        <p class="title">Itenarary for <%= travelplan.location %> </p>
      </div>
    </section>
    <br><br>
    <form action="/user/new" method="POST" class="new-travelplan-form has-text-centered" id="new-travelplan-form">
      Location: <input type="text" name="location" placeholder="location" value="<%= travelplan.location %>" /><br><br>
      Day: <input type="text" name="tripDate" placeholder="Planned Activity" value="travelplan.tripDate"/>
      <br><br>
      Subheading: <input type="description" name="subHeading" placeholder="Subheading/Category" value="travelplan.subHeading"/><br><br>
      Notes: <input type="text" name="notes" placeholder="Notes" value="travelplan.notes" /><br><br>
      Address: <input type="text" name="address" placeholder="Address Location" value="<%= travelplan.address %>"
      />
      <br><br>
      <input type="submit" name="" value="Update Itenarary" />
    </form>
    <br><br>
    
    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>