<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <main>

      <!-- *********DISPLAY OUR GOALS********* -->
      <div class="right-aligned-logout-button">
      <a href="/auth/logout"><button class="button">Logout</button></a>
      </div>


      <div class="centered-user-index">
      <h1 class="title">My Destination</h1>
      </div>
 <!-- **********NEW TRAVELPLANS FORM**************** -->
 <form action="/user/new" method="post">
<div class="left-column-padding"></div>
  <div class="columns"> 
    <div class="column">
      <div class="field">
        <label class="label">Enter your Destination</label>
        <input class="input" type="text" placeholder="e.g. Bora Bora" name="location" required />
      </div>

      <div class="field">
        <label class="label">Date</label>
        <input class="input" type="text" placeholder="Day of Week, Month, Day" name="tripDate" required />
      </div>

      <div class="field">
      <label class="label">Subheading/Category</label>
      <input class="input" type="description" name="subHeading" placeholder="e.g. Entertainment, Reservation, etc." />
      </div>

      <div class="field">
        <label class="label">Location</label>
        <input class="input" type="text" name="address" placeholder="e.g. 123 Annebody Home Road" />
      </div>
    </div>

    <div class="column">
      <label class="label">Notes</label>
      <div class="notes-formatting">
        <textarea class="textarea" name="notes" placeholder=""></textarea>
      </div>
    </div>
  </div>
  <input type="submit" value="Submit" />
</form>
      
      <% for (const travelplan of travelplans) { %>
      
        <a href="/user/<%= travelplan.id %>/edit">Edit</a>
        <a href="/user/<%= travelplan.id %>">Details</a>
      <h2 class="subtitle is-3"><%= travelplan.location %></h2>
      <h2 class="subtitle is-3"><%= travelplan.tripDate %></h2>
      <% } %>

     


      
    </main>

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>