<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body class="container-user-index">
   
    <main>
      <div>
      <!-- ********* LOGOUT ********* -->
        <div class=" is-link right-aligned-logout-button">
          <a href="/auth/logout"><button class="button is-link move-logout">Logout</button></a>
        </div>

      <div class="background-img">
      <div class="centered-user-index">
      <h1 class="title">My Destination</h1>
      </div>
 <!-- **********NEW TRAVELPLANS FORM**************** -->
<form class="left-form" action="/user/new" method="post">
<div class="left-column-padding"></div>
  <div class="columns"> 
    <div class="column over-to-the-right">
      <div class="mobile-format-user-index"></div>
      <div class="field">
        <label class="label">Enter your Destination</label>
        <input class="input" type="text" placeholder="e.g. Bora Bora" name="location" required />
      </div>

      <div class="field">
        <label class="label">Date</label>
        <input class="input" type="text" placeholder="Day of Week, Month, Day" name="tripDate" required />
      </div>

      <div class="field">
        <label class="label">Subheading/Category</label>
        <input class="input" type="description" name="subHeading" placeholder="e.g. Entertainment, Reservation, etc." />
      </div>

      <div class="field">
        <label class="label">Location</label>
        <input class="input" type="text" name="address" placeholder="e.g. 123 Annebody Home Road" />
      </div>
    </div>

    <div class="column">
      <div class="right-column-editing">
      <label class="label">Notes</label>
      <div class="notes-formatting">
        <textarea class="textarea" name="notes" placeholder=""></textarea>
      </div>
    </div>
  </div>
</div>
<div class="submit-button">
  <input class="button is-link blue-button" type="submit" value="Submit" />
</form>
</div>



      <% for (const travelplan of travelplans) { %>
      <div class="card">
        <div class="card-image">

      <h2 class="title is-4"><%= travelplan.location %></h2>
      <h4 class="subtitle is-5"><%= travelplan.tripDate %></h4>
      <a href="/user/<%= travelplan.id %>/edit">Edit</a>
      <a href="/user/<%= travelplan.id %>">Details</a>
      <br><br>

      </div>
        </div>  
      <% } %>
      </div>
    </main>    
  </body>
</html>